<!DOCTYPE html>
<html>
    <head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />

	<title>homework </title>
    </head>

    <body>
	<a href="/blog" class="main-title">
	    发表新文章 
	</a>

	<div class="login-area">

	    <a class="login-link" href="/login">login</a>
	    |
	    <a class="login-link" href="/sign_up">signup</a>

	</div>

	<div id="content">

	    <h2>new post</h2>

	    <form method="post">
		<label>
		    <div>主题</div>
		    <input type="text" name="subject" value="{{subject}}">
		</label>

		<label>
		    <div>blog</div>
		    <div><textarea name="content">{{content}}</textarea> 
		    </label>

		    <div class="error">{{error}} </div> 

		    <input type="submit">
		</form>

	    </div>
	</body>

    </html>

