<!DOCTYPE html>
<html>
    <head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>CS 253 Blog</title>
    </head>

    <body>
	<a href="/blog" class="main-title">CS 253 HW3-1</a>

	<div class="login-area">
	    <a class="login-link" href="/login">登录</a>
		|
	    <a class="login-link" href="/signup">注册</a>
	</div>
	{% for i,artical in enumerate_articals %}
	<div id="content">
	    <div class="post">

		<div class="post-heading">
		    <div class="post-title">
			{{artical.subject}}
		    </div>
		    <div class="post-date">
			{{artical.created}}
		    </div>
		</div>

		<div class="post-content">
		{{ artical.content|replace("\n","<br>")|safe()}}
		</div>

	    </div>
	    <br><br>
	</div>
	{% endfor %}
    </body>
</html>
